<!DOCTYPE html>
<!-- To change the reporting language, simply set lang so something that is supported -->
<html lang="nl" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OWASP ASVS Report Generator by Ibuildings</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet"
          href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com//ajax/libs/jqueryui/1.8.22/themes/blitzer/jquery-ui.css"/>
    <link rel="stylesheet" href="risk-ratings.css"/>


    <style>
        @font-face {
            font-family: din;
            src: url('DIN/DIN Regular.ttf');
        }

        * {
            font-family: din, Helvetica;
        }

        h2.pass {
            background-color: #adff2f;
        }

        h2.fail {
            background-color: red;
        }
        #welcome {
            text-align: center;
        }

        footer {
            font-size: small;
            text-align: center;
        }
    </style>

    <!-- JavaScript -->
    <script>
        if (typeof localStorage === 'undefined') {
            alert('Local storage not available, your report contents will not be saved!');
        }
    </script>

</head>
<body ng-controller="WizardController">
<section id="todos" style="font-size: small;" class="hide">
    <h1>TODOS</h1>
    <ul>
        <li>WYSIWYG</li>
    </ul>
</section>

<section id="welcome" class="hero-unit container hide">
    <h1>Welcome to the OWASP ASVS Report Generator</h1>
    <hr/>
    <button class="btn-large btn-primary">Start</button>
</section>

<section id="wizard" class="hide">
    <header>
        <button class="btn" ng-click="prev()" ng-class="edittedIsNotFirst()">
            <i class="icon-arrow-left"></i>
            Previous
        </button>

        <button class="btn">Show preview</button>

        <button class="btn btn-primary" ng-click="next()" ng-class="edittedIsNotLast()">
            Next
            <i class="icon-arrow-right icon-white"></i>
        </button>
        <button class="btn btn-primary" ng-class="edittedIsLast()" ng-click="done()">Done</button>

        <div class="progress progress-danger">
            <div class="bar" style="width: {{edittedPercentage()}}%;"></div>
        </div>
    </header>
    <br  style="clear: both" />
    <section class="screen form-inline" ng-repeat="rule in report.rules" ng-class="rule.showEdit">
        <header>
            <h1>V{{rule.chapter.nr}} - {{rule.chapter.title}}</h1>

            <h2>V{{rule.chapter.nr}}.{{rule.nr}} - {{rule.title}}</h2>
        </header>

        <p class="well">{{rule.annotation}}</p>

        <button class="btn btn-danger" ng-class="rule.enableReset" ng-click="reset(rule)">Reset</button>

        <input type="radio" id="statusPass" name="status" value="pass" ng-click="pass(rule)" />
        <label for="statusPass">PASS</label>
        <input type="radio" id="statusFail" name="status" value="fail" ng-click="fail(rule)" />
        <label for="statusFail">FAIL</label>

        <hr />

        <section class="pass" ng-class="rule.showPass">
            <p>How has this been verified (give a specific instance).</p>
            <textarea class="span8"
                      cols="80"
                      rows="5"
                      placeholder="{{rule.passed.justifyHelp}}"
                      ng-model="rule.passed.justify"></textarea>

            <p class="example well">
                {{rule.passed.justifyExample}}
            </p>
        </section>
        <section class="fail" ng-class="rule.showFail">
            <p>Why can this not be verified?</p>
            <textarea class="span8"
                      cols="80"
                      rows="5"
                      placeholder="{{rule.failed.justifyHelp}}"
                      ng-model="rule.failed.justify"></textarea>

            <p class="example well" ng-class="rule.showExample">
                {{rule.failed.justifyExample}}
            </p>
            <table>
                <tbody>
                <tr>
                    <th>
                        Threat agent factors
                    </th>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th>
                                    Skill level
                                </th>
                                <td>
                                    <select>
                                        <option>0 - Not applicable</option>
                                        <option>1 - Security penetration skills</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Motive</th>
                                <td>
                                    <select>
                                        <option>0 - Not applicable</option>
                                        <option>1 - Low or no reward (doing it for kicks)</option>
                                        <option>4 - Possible reward</option>
                                        <option>9 - $$$$$$</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <dl>
                <dt>Risk rating</dt>
                <dd><span data-riskrating="9">High</span></dd>
            </dl>
            <textarea class="span8"
                      cols="80"
                      rows="5"
                      placeholder="[Optional] Justification for the risk rating"
                      ng-model="rule.risk.justify"></textarea>
        </section>
        <section id="preview"></section>
    </section>
</section>

<section id="report">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" style="text-align: right">
                <button class="btn btn-primary" id="modifyReportButton"><i class="icon-pencil icon-white"></i> Modify
                </button>
                <button class="btn btn-danger" onclick="window.location.reload();">Reset</button>
            </div>
        </div>
    </div>
    <section ng-repeat="chapter in report.chapters">
        <h1>V{{$index + 1}} - {{chapter}}</h1>
        <section ng-repeat="rule in report.rules | filter:{chapter.nr: $index+1}">
            <h2 class="{{getStatusClass(rule)}}">V{{rule.chapter.nr}}.{{rule.nr}} - {{rule.title}}</h2>
            <div ng-class="hideIfFailed(rule)">
                <p>{{rule.passed.description}}</p>
                <p>{{rule.passed.justify}}</p>
            </div>
            <div ng-class="hideIfPassed(rule)">
                <p>{{rule.failed.description}}</p>
                <p>{{rule.failed.justify}}</p>
                <p>{{rule.risk.rating}}</p>
                <p>{{rule.risk.justify}}</p>
            </div>
        </section>
    </section>
</section>

<hr/>

<footer>
    The OWASP ASVS Report Generator has been created by <a href="ibuildings.com">Ibuildings</a>.
</footer>
<script src="asvs-data.js"></script>
<script src="asvs-report.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script src="WizardController.js"></script>
<script>
    localStorage.removeItem('report');
    if (!localStorage.getItem('report')) {
        $('#report').hide();
        $('#welcome').show().find('button').click(function () {
            $('#welcome').hide();
            $('#report').show();
            $('#wizard').dialog({ modal:true, width:'80%', height:'960'});
        });
        $('#modifyReportButton').click(function () {
            $('#wizard').dialog({ modal:true, width:'80%', height:'960' });
        });
    }
</script>
</body>
</html>